.MainCenterContainer {
  &__main-container {
    position: relative;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__show-app-for-user {
    text-decoration: none;
    color: $color-white;
    background: $color-twitch;
    padding: 6px 8px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    animation-name: btnRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
  }

  &__live-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  &__live {
    width: 900px;
    height: 508px;
    border: none;
    &--active {
      display: block
    }
  }

  &__live-chat {
    border: none;
    height: 508px;
    width: 300px;
    display: none;

    &--active {
      display: block
    }
  }

  &__followers-container {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    position: relative;
  }

  &__followers {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.3);
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding: 10px 10px 20px 10px;
    display: -webkit-inline-box;

    &::-webkit-scrollbar {
      width: 1em;
    }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    
    &::-webkit-scrollbar-thumb   {
      background-color: $color-main-blue;
      cursor: pointer;
    }
  }

  &__scrollbar-line {
    position: absolute;
    height: 3px;
    background: #23A6D5;
    width: 100%;
    bottom: 6px;
  }

  &__follower {
    width: 40px;
    height: 40px;
    margin: auto;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    position: relative;
    margin: 0 10px 0;
    color: #25282B;
    cursor: pointer;
  }

  &__follower-name {
    background: #fff;
    border-radius: 4px;
    position: absolute;
    padding: 2px 4px;
    bottom: 10px;
    z-index: 12;
    left: 50px;
  }

  &__followers-title {
    width: 1200px;
    margin: 12px auto;
    color: #fff;
  }

  &__title-stream {
    font-size: 24px;
    width: 1200px;
    margin: 12px auto;
    color: #fff;
  }

  @-webkit-keyframes btnRotate {
    0%       { transform: rotate(0) }
    1%      { transform: rotate(10deg)  }
    2%      { transform: rotate(0)  }
    3%      { transform: rotate(-10deg)  }
    4%     { transform: rotate(0) }
  }
}