.Game {
  &__main-container {
    color: #fff;
    z-index: 9;
    position: relative;
    display: flex;
  }

  &__center-container {
    width: 1170px;
    height: 1000px;
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
    position: relative;
  }

  &__lol {
    position: absolute;
    width: 0px;
    height: 0px;
    background: $color-main-blue;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    will-change: width, height, border-radius;
    transition: all 400ms;

    &--active {
      height: 100%;
      width: 100%;
      border-radius: 0%;
    }
  }
}